.popup-tag{
  position:absolute;
  display:none;
  background-color:#d8dad8;
  color:white;
  padding:10px;
  font-size:20px;
  font-weight:bold;
  text-decoration:underline;
  cursor:pointer;
  -webkit-filter: drop-shadow(0 1px 10px rgba(113,158,206,0.8));
}

.tag{
  padding: 10px 10px 10px 10px;
}

.container {
  margin:auto;
  height:100%;
}

.center {
  margin: auto auto 10px auto;
  width: 100%;
  border: 3px solid black;
  padding: 10px;
}

.btn-drugs{
  margin: 5px 5px 5px 5px;
  color:white;
  background-color:#0021ff;
}
.btn-drugs:hover{
  -webkit-box-shadow: 5px 5px 5px 5px #000000;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    5px 5px 5px 5px #000000;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 10px 10px #000000;
}

.btn-disease{
  margin: 5px 5px 5px 5px;
  color:white;
  background-color:#008000;
}

.btn-disease:hover{
  -webkit-box-shadow: 5px 5px 5px 5px #000000;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    5px 5px 5px 5px #000000;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 10px 10px #000000;
}

.btn-sympton{
  margin: 5px 5px 5px 5px;
  color:white;
  background-color:#800600;
}

.btn-sympton:hover{
  -webkit-box-shadow: 5px 5px 5px 5px #000000;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    5px 5px 5px 5px #000000;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 10px 10px #000000;
}
.drugs_selected{
  background-color:#0021ff;
  color:white;
}
.sympton_selected{
  background-color:#800600;
  color:white;
}
.disease_selected{
  background-color:#008000;
  color:white;
}
