.popup-tag{
  position:absolute;
  display:none;
  background-color:#d8dad8;
  color:white;
  padding:10px;
  font-size:20px;
  font-weight:bold;
  text-decoration:underline;
  cursor:pointer;
}

.tag{
  padding: 10px 10px 10px 10px;
}

.container {
  margin:auto;
  height:100%;
}

.center {
  margin: auto auto 10px auto;
  width: 100%;
  border: 3px solid black;
  padding: 10px;
  margin-top: 1.5rem;
}

.btn-drugs{
  margin: 5px 5px 5px 5px;
  color:white;
  background-color:#0021ff;
}
.btn-drugs:hover{
background-color: white;
color: #0021ff;
}

.btn-disease{
  margin: 5px 5px 5px 5px;
  color:white;
  background-color:#008000;
}

.btn-disease:hover{
  background-color: white;
color:#008000;
}

.btn-sympton{
  margin: 5px 5px 5px 5px;
  color:white;
  background-color:#800600;
}

.btn-sympton:hover{
background-color: white;
color: #800600;
}
.drugs_selected{
  background-color:#0021ff;
  color:white;
}
.sympton_selected{
  background-color:#800600;
  color:white;
}
.disease_selected{
  background-color:#008000;
  color:white;
}

.knowmore {
  padding-bottom: 2rem;
}
